body {
    background-image: url("dcccfe7da274ddb46be812324ab6c43f.jpg");
    background-attachment: fixed;
    background-color: black;
    margin: 0;
    padding: 0;
}

#som {
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
}

#video {
    position: relative;
    width: 100%;
}

#convite {
    font-family: cursive;
    padding: 10px;
    background-image: url("cadernoo.png");
    background-size: cover;
    background-color: blanchedalmond;
    margin: 0 auto; 
    max-width: 80%; 
    text-align: center;
}

#julio {
    max-width: 70%; 
    display: block; 
    margin-right: 40%
}

#buffy{
    max-width: 70%;
    display: block;
    margin-left: 40%;
}
#blossom { max-width: 70%;
    display: block;
    margin-right: 40%
}

#regras {
    font-family: cursive;
    padding: 40px;
    background-image: url("cadernoo.png");
    background-size: cover;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

#lula {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#lindo {
    width: 15%;
    max-width: 100%;
}
#imagens-container {
    display: flex;
}
#imagens-container img {
    max-width: 50%; 
    margin-right: 10px
}
#friends, #sms, #local {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#vem {
    width: 50%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10%;
}
